.service-card {
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  height: 230px;
  object-fit: cover;
}

.card-title {
  color: linear-gradient(180deg, #22407a, #355a9b);
  font-weight: 600;
}
